body {
    font-family: Arial, sans-serif;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}

.container {
    width: 80%;
    padding: 20px;
    text-align: center;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.message-input {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

input[type="text"] {
    width: 70%;
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: #007BFF;
    color: #fff;
    border-radius: 4px;
}

.bulletin-board {
    border: 2px solid #333;
    width: 100%;
    height: 400px;  /* Adjusted height */
    padding: 10px;
    overflow: hidden;
    position: relative;
    margin-bottom: 20px;
    border-radius: 4px;
}

/* Add styles for the message elements */
.message {
    white-space: nowrap;
    position: absolute;
    right: 100%;
    /* animation: moveLeft 25s linear forwards;*/
}

@keyframes moveLeft {
    from {
        left: 100%; /* Start from the right edge of the bulletin */
    }
    to {
        left: -100%; /* Move to the left edge of the bulletin */
    }
}

.message:nth-child(odd) {
    padding-top: 10px;
}

.message:nth-child(even) {
    padding-top: 10px;
}

.moderation-area {
    width: 100%;
    padding: 10px;
    border: 2px solid #333;
    border-radius: 4px;
    margin-top: 20px;
}

.moderation-area ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.moderation-area li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#flex-container {
    display: flex;
    align-items: center; /* Vertically center aligns items */
    margin: 0 auto;
    max-width: 800px; /* Adjust the width as needed */
}

#qr-code {
    flex: 1; /* Gives equal weight, ensuring that the space is distributed equally between the qr-code and text divs */
}

#text {
    flex: 1; /* Gives equal weight, ensuring that the space is distributed equally between the qr-code and text divs */
    text-align: left; /* Aligns the text to the left */
}
